:root{
    --word-Color: #0000006b;
    --Title-Color: var(--word-Color);
    --Unfocused-Color: #816300;
    --Clicked-Color: #c9c504;
    --Link-Color: var(--word-Color);
    --Background-Color: rgb(32, 99, 32);
    --Header-Background-Color: #c1db7a;
    --Field-Background-Color: #1a3a3a;
}
body{
margin: 0;                      
    background: var(--Background-Color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header,footer{
    margin: 0;
    background: var(--Header-Background-Color);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin:0;
    color: var(--Title-Color);
    font-family: "VT323", monospace;
    font-weight: 200;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;

}
h2,h3,h4,h5,p{
    color: var(--Title-Color);
    margin-bottom: 10px;
    font-family: "VT323", monospace;
    font-weight: 200;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}
/* ---- FOOTER MENUs ---- */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

canvas {
    z-index: 0;
}
li{
    font-family: "VT323", monospace;
    font-weight: 200;
    font-style: normal;
}
.li-style{
    display:flex;
    color: var(--Title-Color);
    padding-left: 10px;
}
ul{
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: left;
} 
.ul-menuH{
    align-items: center;
    margin:0;
}
.ul-menuV{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin:0;
    justify-self: start;
}
.values{
    color: var(--Title-Color);
    margin:0;
    padding:0 0 0 2px;
}
.values{
    font-weight: 1000;
}
.building{
    max-height: 60px;
    max-width: 60px;
}
.building:hover{
    background: var(--Clicked-Color);
}